.simplevote_widget {
  float:right;
  padding:10px;
  margin:10px;
  border:1px black solid;
}

.vote-on, .vote-off {
  float:left;
  width:8px;
  height:8px;
  border:0px solid;
  text-decoration: none;
}

.vote-on {
  background: url(star-full.png) no-repeat 0 0px;
}

.vote-off {
  background: url(star-empty.png) no-repeat 0px 0px;
}

a.vote-on:hover {
  background: url(star-full.png) no-repeat -8px 0px;
}

a.vote-off:hover {
  background: url(star-empty.png) no-repeat -8px 0px;
}